[submodule "install/opencv"]
	path = install/opencv
	branch = 4.x
	url = https://github.com/opencv/opencv.git
[submodule "install/opencv_contrib"]
	path = install/opencv_contrib
	branch = 4.x
	url = https://github.com/opencv/opencv_contrib.git
